*{margin: 0; padding: 0; font-family: 'Oxygen', sans-serif; }

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
	margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

#disclamer,
#step2,
#step3,
#step4,
#step5{
	display: none;
}

h1{
	font-size: 30px;
}

.container{
	display: grid;
	grid-template-columns: 400px auto;
	height: 100vh;
}

.leftPanel{
	height: 100vh;
	background: #304766;
	color: #f5f7fa;
	padding-left: 35px;
	padding-right: 30px;
}


.leftPanel .siteTitle{
	margin-top: 30px;
	margin-bottom: 120px;
}

.StepsCotainer{
	margin-bottom: 50px;
}

.StepsCotainer p{
	margin-top: 10px;
}

.StepsList{
	display: grid;
	grid-template-columns: 30px auto;
	grid-gap: 15px;
}

.stepNumber{
	border: 1px solid #f5f7fa;
	border-radius: 50%;
	height: 25px;
	width: 25px;
	display: grid;
	justify-content: center;
	align-content: center;
}

.active{
	background: #f5f7fa;
	color: #304766;
}

.stepNumber p{
	font-size: 14px;
	font-weight: 400;
}

.stepDesc{
	margin: auto 0;
	font-size: 18px;
}

.stepSpace{
	height: 40px;
	width: 10px;
	border-left: 2px dotted #f5f7fa;
	margin: 10px 0px 10px 12px;
}

/*Right Side*/
.rightPanel{
	margin: 0px 150px;
	color: #333;
}

.rightPanel h1{
	margin-top: 30px;
}

.rightPanel p{
	margin-top: 5px;
	color: #666;
}

.rightPanel p a{
	color: #0075ff;
	text-decoration: none;
	cursor: pointer;
}
.rightPanel p a:hover{
	text-decoration: underline;
}

.rightPanel p.stepCountShortScreen{
	margin-top: 25px;
	color: #666;
	display: none;
}

.emoji{
	display: grid;
	justify-content: center;
	align-content: center;
	width: 60px;
	height: 60px;
	border-radius: 50%;
	background: #fff2e6;
	margin-top: 100px;
}

.formContainer{
	height: 65vh;
	overflow-y: auto;
	overflow-x: hidden;
	margin-top: 45px;
}

.discalmerContainer{
	height: 65vh;
	overflow-y: auto;
	overflow-x: hidden;
	margin-top: 15px;
}

.formContainer p{
	font-weight: 400;
	margin: 0px 0px 10px 0px;
}

.formContainer p{
	font-weight: 400;
}

.formContainer ul{
	list-style: circle;
	margin-left: 20px;
	margin-bottom: 80px;
}

.formContainer ul li{
	padding: 3px 0px 7px 0px;
}

.formContainer input{
	font-size: 16px;
	padding: 8px 10px;
	width: calc(100% - 100px);
	border: 1.5px solid #ccc;
	border-radius: 5px;
}

.twoColumns{
	display: grid;
	grid-template-columns: auto auto;
	grid-gap: 20px;
	margin-bottom: 25px;
}

#companyInfo{
	display: none;
	margin-bottom: 25px;
}

.buttonsContainer{
	margin-top: 40px;
}

.buttonsContainer button{
	font-size: 15px;
	padding: 12px 35px;
	cursor: pointer;
	border-radius: 8px;
	margin-right: 5px;
}

.buttonsContainer button#back{
	border: 1px solid #ccc;
	background: none;
	color: #333;
}

.buttonsContainer button#next{
	border: 1px solid #0075ff;
	background: #0075ff;
	color: #fff;
}


.checkboxContainer{
	width: 100%;
	height: calc(100% - 200px);
	overflow-x: hidden;
	overflow-y: auto;
}

.containerCheckbox {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 20px;
  cursor: pointer;
  font-size: 20px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.containerCheckbox div{
	display: grid;
	grid-template-columns: 30px auto;
}

.containerCheckbox div div{
	margin: auto 5px;
}

.containerCheckbox input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
}

.containerCheckbox:hover input ~ .checkmark {
  background-color: #ccc;
}

.containerCheckbox input:checked ~ .checkmark {
  background-color: #0075ff;
}

.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.containerCheckbox input:checked ~ .checkmark:after {
  display: block;
}

.containerCheckbox .checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}











